{% extends "base.html" %}

{% block title %}
    Superfriends - Your Contacts
{% endblock title %}

{% block content %}
<h1>
    {{ contact_list.first_name }} {{ contact_list.last_name }}
    <span class="badge badge-info">{{ contact_list.type }}</span>

</h1>

{% if user.is_authenticated and contact_list.creator_user == user %}
    <div class="row">
        <div class="col-">


        {% if contact_list.picture %}
        <img src="{{ contact_list.picture.url }}" width="150px">
        {% else %}
        
        <img src="/static/images/default.jpg"  width="150px"/>

        {% endif %}

    </div>
        <div class="col-sm">
        <p>Name: {{ contact_list.first_name }} {{ contact_list.last_name }}</p>
        <p>Email: {{ contact_list.email }}</p>
        <p>Phone: {{ contact_list.phone }}</p>
        <p>Address: {{ contact_list.address }}</p>
        <p>Birthday: {{ contact_list.birthday }}</p>
        <p>Notes: {{ contact_list.notes }}</p>
        <p>Frequency: {{ contact_list.frequency }}</p>

        {% if contact_list.linkedin %}
        <a href="{{ contact_list.linkedin }}" target="_blank"><img src="/static/images/linkedin.png" height="20px"></a>
        {% else %}
        {% endif %}
        {% if contact_list.facebook %}
        <a href="{{ contact_list.facebook }}" target="_blank"><img src="/static/images/facebook.png" height="20px"></a>
        {% else %}
        {% endif %}
        {% if contact_list.instagram %}
        <a href="{{ contact_list.instagram }}" target="_blank"><img src="/static/images/instagram.png" height="20px"></a>
        {% else %}
        {% endif %}
        {% if contact_list.twitter %}
        <a href="{{ contact_list.twitter }}" target="_blank"><img src="/static/images/twitter.png" height="20px"></a>
        {% else %}
        {% endif %}
        <br /><br />



        <a class="btn btn-lg btn-info" href="/contact/edit/{{ contact_list.id }}">Edit "{{contact_list.first_name }} {{contact_list.last_name }}"</a>
        <br /><br />

        <a href="/contact/delete/{{ contact_list.id }}/" class="btn btn-outline-danger btn-sm">Delete "{{contact_list.first_name }} {{contact_list.last_name }}"</a>



    </div>
    </div>

        

        <!-- <a href="/friend-create/{{ friend_list.id }}/" class="btn btn-primary btn-lg">
            + Add Friend
        </a> -->
        <!-- <a href="/contact/delete/{{ contact_list.id }}/" class="btn btn-outline-danger btn-sm ml-5">Delete "{{contact_list.first_name }} {{contact_list.last_name }}"</a> -->
    </div>
{% endif %}


<!-- {% for friend in all_friends %}
    <div class="media mt-5 border rounded shadow">
        {% if book.cover_url %}
            <img src="{{ book.cover_url }}" alt="Book cover" />
        {% else %}
            <img src="https://i.imgur.com/dMlC0dn.png" alt="Book icon" />
        {% endif %}
        <div class="media-body ml-3">
            <h5>{{ friend.name }}</h5>
            <p>{{ book.description|escape|linebreaks }}</p>
        </div>

        {% if request.user == reading_list.creator_user %}
            <a href="/book-delete/{{ friend.id }}/" class="btn btn-outline-danger btn-sm">X</a>
        {% endif %}
    </div>
{% endfor %} -->

{% endblock content %}

