{% extends "base.html" %}

{% block title %}
    Superfriends - Your Contacts
{% endblock title %}

{% block content %}
<h1>
    {{ contact_list.first_name }} {{ contact_list.last_name }}
    <span class="badge badge-info">{{ contact_list.type }}</span>

</h1>

{% if user.is_authenticated and contact_list.creator_user == user %}
    <p>
        <p>Add friend contact details in here</p>

        <p>Name: {{ contact_list.name }}</p>
        <p>Email: {{ contact_list.email }}</p>
        <p>Phone: {{ contact_list.phone }}</p>
        <p>Address: {{ contact_list.address }}</p>
        <p>Birthday: {{ contact_list.birthday }}</p>
        <p>Notes: {{ contact_list.notes }}</p>
        <p>Frequency: {{ contact_list.frequency }}</p>

    

        

        <!-- <a href="/friend-create/{{ friend_list.id }}/" class="btn btn-primary btn-lg">
            + Add Friend
        </a> -->
        <a href="/contact/delete/{{ contact_list.id }}/" class="btn btn-outline-danger btn-sm ml-5">Delete "{{contact_list.first_name }} {{contact_list.last_name }}"</a>
    </p>
{% endif %}


<!-- {% for friend in all_friends %}
    <div class="media mt-5 border rounded shadow">
        {% if book.cover_url %}
            <img src="{{ book.cover_url }}" alt="Book cover" />
        {% else %}
            <img src="https://i.imgur.com/dMlC0dn.png" alt="Book icon" />
        {% endif %}
        <div class="media-body ml-3">
            <h5>{{ friend.name }}</h5>
            <p>{{ book.description|escape|linebreaks }}</p>
        </div>

        {% if request.user == reading_list.creator_user %}
            <a href="/book-delete/{{ friend.id }}/" class="btn btn-outline-danger btn-sm">X</a>
        {% endif %}
    </div>
{% endfor %} -->

{% endblock content %}

