{% extends "base.html" %} 

{% block title %} Superfriends - Your Friends {%endblock title %} 

{% block content %}
<!-- if the list has one or more items if due_contact_list.length > 0... -->


{% if request.user.is_authenticated %}

    <!-- if the list has one or more items if due_contact_list.length > 0... -->
    <h2>Up next:</h2>
    <h3>Get in touch with some folks you haven't talked to in a while</h3>

{% for contact, countdown in filtered_countdowns %}
<div class="media mt-3 p-4 border rounded shadow-sm">
    
    {% if contact.picture %}
    <img src="{{ contact.picture.url }}" class="thumb">
    {% else %}    
    <img src="/static/images/default.jpg"  class="thumb"/>
    {% endif %}


    <!-- This shows the contacts name  as a link to the full details of that contact -->
    <div class="media-body ml-3 mt-1 mb-1 position-relative">
        <div class="col-8">
    <h5><a href="/contact/{{ contact.id }}/" class="stretched-link">{{ contact.first_name|title }} {{ contact.last_name|title }}<span class="badge badge-pill badge-{% include "snippets/contact_color_badges.html" %} ml-2">{{ contact.type|title }}</span></a></h5>
        </div>
    </div>
    <!-- This shows the creation date of the contact -->
    <!-- <div>
        <p>last modified: {{ contact.last_modified|date:"F jS Y" }}</p>
        <p>frequency modified: {{ contact.frequency_modified|date:"F jS Y" }}</p>
        <p>countdown: {{ countdown }}</p>
        <p>Added on {{ contact.created|date:"F jS Y" }}</p>
    </div> -->
      <div class="btn-group btn-group-sm p-1">
        <a  class="btn btn-outline-dark" href="/contact/update_contacted/{{ contact.id }}/">Contacted</a>
        <a class="btn btn-outline-dark">Snooze</a>
      </div>

        {% if countdown < 0 %}<span class="badge badge-danger ml-1"><strong>OVERDUE</strong></button>{% endif %}
    </div>
{% endfor %}

<!-- else tell user that no contacts are due AND show the below -->


<h2>Your Contacts</h2>
{% for contact in page_obj %}
    <!-- Loop through Contacts and display it -->
    <div class="media mt-3 border rounded shadow-sm">
        {% if contact.picture %}
        <img src="{{ contact.picture.url }}" class="thumb">
        {% else %}    
        <img src="/static/images/default.jpg"  class="thumb"/>
        {% endif %}
    
    

        <!-- This shows the contacts name  as a link to the full details of that contact -->
        <div class="media-body ml-3 mt-1 mb-1 position-relative">
            <h5><a href="/contact/{{ contact.id }}/" class="stretched-link">{{ contact.first_name|title }} {{ contact.last_name|title }}<span class="badge badge-pill badge-{% include "snippets/contact_color_badges.html" %} ml-2">{{ contact.type|title }}</span></a></h5>
        </div>

        <!-- This shows the creation date of the contact -->
        <div>
            <p class="mt-3 mr-2"><button type="button" class="btn btn-outline-secondary">Contact frequency: {{ contact.frequency }}</button></p> 
        </div>
    </div>
{% endfor %}
    <!-- pagination starts here -->
    <div>
        <br />
    {% if page_obj.has_other_pages %}
      <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
          <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
    <!-- pagination ends here -->

    {% else %}

    <h3>How Superfriends helps you stay in touch</h3>

    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100 border border-white">
            <a href="#"><img class="card-img-top p-5" src="/static/images/clock.png" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Set frequency</a>
              </h4>
              <p class="card-text">Choose how often you want to keep in touch with contacts and Superfriends will remind you automatically when its time to reach out.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100 border border-white">
            <a href="#"><img class="card-img-top p-5" src="/static/images/insurance.png" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Take notes</a>
              </h4>
              <p class="card-text">Keep track of people by adding notes and details to their profile that you can easily update every time you make contact.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100 border border-white">
            <a href="#"><img class="card-img-top p-5" src="/static/images/contacts.png" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Groups</a>
            </h4>
            <p class="card-text">Add contacts to different groups for the different communities that you're a part of.</p>
          </div>

{% endif %}

{% endblock content %}