{% extends "base.html" %}


{% block title %}
    Superfriends - Your Friends
{% endblock title %}

{% block content %}
<!-- if the list has one or more items if due_contact_list.length > 0... -->
<h2>Due Contacts, Reach out!</h2>
<h3>Number due: {{ due_contact_list.length }}</h3>

{% for contact, countdown in filtered_countdowns %}
    <!-- Loop through Contacts and display it -->

    <div class="media mt-3 border rounded shadow-sm">


        <!-- This shows the contacts name  as a link to the full details of that contact -->
        <div class="media-body ml-3 mt-1 mb-1 p-3 position-relative">
            <h5><a href="/contact/{{ contact.id }}/" class="stretched-link">{{ contact.first_name|title }} {{ contact.last_name|title }}<span class="badge badge-primary ml-2">{{ contact.type|title }}</span></a></h5>
        </div>

        
        <div>
            <!-- This shows the last modified -->
            <p>last modified: {{ contact.last_modified|date:"F jS Y" }}</p>
            <p>frequency modified: {{ contact.frequency_modified|date:"F jS Y" }}</p>
            <!-- This shows countdown value, this token is available for both filtered & not filtered lists -->
            <p>countdown: {{ countdown }}</p>
            <!-- This shows the creation date of the contact -->
            <p>Added on {{ contact.created|date:"F jS Y" }}</p> 
        </div>
        <form action="." method="POST" >
            <div class="btn-group btn-group-sm p-1">
                <a class="btn btn-outline-dark">Snooze</a> <!-- click adds one day to today and saves snooze value -->
                <a class="btn btn-outline-dark">Contacted</a> <!-- click updates -->
            </div>
        </form>
    </div>
{% endfor %}

<!-- else tell user that no contacts are due AND show the below -->


<h2>Your Contacts</h2>
{% for contact in all_contact_lists %}
    <!-- Loop through Contacts and display it -->

    <div class="media mt-3 p-2 border rounded shadow-sm">


        <!-- This shows the contacts name  as a link to the full details of that contact -->
        <div class="media-body ml-3 mt-1 mb-1 position-relative">
            <h5><a href="/contact/{{ contact.id }}/" class="stretched-link">{{ contact.first_name|title }} {{ contact.last_name|title }}<span class="badge badge-pill badge-light ml-2">{{ contact.type|title }}</span></a></h5>
        </div>

        <!-- This shows the creation date of the contact -->
        <div class="p-2">
            <p>Added on {{ contact.created|date:"F jS Y" }}</p> 
        </div>
    </div>
{% endfor %}



{% endblock content %}

