/* Custom CSS goes here */

.card-user {
    max-width: 80px;
}
.lead {
    color: #000;
}

.navbar-avatar {
    height: 50px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.thumb {
    max-width: 60px;
    max-height: 60px;
}
